#Test5
name: CI

on:
  push:     
  workflow_dispatch:
    inputs:
      image:
        description: Image to scan
        required: true
        default: jenkins:latest

jobs:

  scan-from-registry-node-filters:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Sysdig Secure Inline Scan
        id: scan
        uses: sysdiglabs/scan-action@fix-sarif-duplicate-ids
        with:
          # Tag of the image to analyse.
          image-tag: jenkins/jenkins:2.350-jdk17
          # API token for Sysdig Scanning auth.
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          sysdig-secure-url: https://secure.sysdig.com/
          severity-at-least: critical
          exclude-accepted: true
          not-package-types: os

      - uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: ${{ steps.scan.outputs.sarifReport }}  
          

  scan-from-registry-node-no-filters:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Sysdig Secure Inline Scan
        id: scan
        uses: sysdiglabs/scan-action@fix-sarif-duplicate-ids
        with:
          # Tag of the image to analyse.
          image-tag: jenkins/jenkins:2.350-jdk17
          # API token for Sysdig Scanning auth.
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          sysdig-secure-url: https://secure.sysdig.com/

  scan-from-registry-node-group-by-package:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Sysdig Secure Inline Scan
        id: scan
        uses: sysdiglabs/scan-action@fix-sarif-duplicate-ids
        with:
          group-by-package: true
          # Tag of the image to analyse.
          image-tag: jenkins/jenkins:2.350-jdk17
          # API token for Sysdig Scanning auth.
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          sysdig-secure-url: https://secure.sysdig.com/

      - uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: ${{ steps.scan.outputs.sarifReport }}  
          
          
